@import 'variables';


header {
    @include flexbox(column, center, center, 0);
    text-align: center;
    margin-top: 80px;

    div {
        
        p {
        max-width: 75ch;
        margin: auto;
        margin-bottom: 16px;
        }
        div {
            @include flexbox(row, center, center, 0);
            flex-wrap: wrap;
        }
    }

    ul {
        @include flexbox(row, center, center, 24px);
        flex-wrap: wrap;
        @include listStyle();
    }
}
