@import 'variables';


header {
    @include flexbox(column, center, center, 24px);
    text-align: center;

    div p {
        max-width: 75ch;
        min-width: 45ch;
    }

    ul {
        @include flexbox(row, center, center, 24px);
        flex-wrap: wrap;
        @include listStyle();
    }
}