@import 'variables';


nav {
    @include flexbox(row,space-between ,center, 0px );
    height: 64px;
    max-width: 1200px;
    margin: auto;

    img {
        max-height: 36px;
    }

    ul {
        @include flexbox(row,space-between ,center, 24px );
        list-style: none;
    }
}

.bttnSecondary {
    @include bttnSecondary();
}

.bttnSecondary:hover {
    background-color: $red;
    color: white;
}