@import 'variables';


.firstSection {
    @include flexbox(column, center, center, 24px);

    .firstArticle {
        @include flexbox(row, center, center, 24px);
        flex-wrap: wrap;
        width: 100%;

        div {
            @include flexbox(column, center, flex-start, 0px);
            max-width: 50ch;
            text-align: left;
            align-self: flex-start;

            p {
                margin: 0;
            }

            ul {
                padding: 16px;
                margin: 0;
            }

            button {
                margin-left: -2px;
            }
        }

        img {
            max-width: 520px;
            width: 100%;
        }
    }

    .secondArticle {
        @include flexbox(row, center, center, 24px);
        flex-wrap: wrap;
        width: 100%;

        &>div {
            @include flexbox(column, flex-start, flex-start, 0px);
            max-width: 50ch;
            text-align: left;
            align-self: flex-start;
            
            .screensContainer {
                @include flexbox(row, center, center, 0px);
                flex-wrap: wrap;
            }

            ul {
                padding: 16px;
            }

            &>div:last-child {
                @include flexbox (row, center, center, 0);
                flex-wrap: wrap;
            }
        }

        img {
            max-width: 520px;
            width: 100%;
            order: 1;
        }
    }
}

.secondSection {
    margin-top: 80px;
    text-align: center;

    ul {
        @include flexbox(row, center, center, 24px);
        flex-wrap: wrap;
        @include listStyle();
    }

    .stars {
        height: 16px;
        width: 90px;
        background-image: url(./../icons/star-solid.svg);
        background-repeat: repeat-x;
        filter: invert(75%) sepia(64%) saturate(1775%) hue-rotate(347deg) brightness(100%) contrast(104%);
        -webkit-filter: invert(75%) sepia(64%) saturate(1775%) hue-rotate(347deg) brightness(100%) contrast(104%);
    }

    .testimonial {
        @include flexbox(column, center, center, 0);
        max-width: 75ch;
        //min-width: 45ch;
        text-align: center;

        hr {
            border: solid 1px silver;
            width: 24px;
        }
    }

    article:last-child p {
        max-width: 75ch;
        //min-width: 45ch;
        margin: auto;
        margin-bottom: 24px;

    }

    article:last-child div {
        @include flexbox(row, center, center, 0px);
        flex-wrap: wrap;
    }
}

