nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  height: 64px;
  max-width: 1200px;
  margin: auto;
}
nav img {
  max-height: 36px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  list-style: none;
}
nav ul li {
  height: 48px;
  padding: 0 24px;
  display: flex;
  align-items: center;
}
nav ul li:hover {
  color: #FF556E;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
}
header div p {
  max-width: 75ch;
  min-width: 45ch;
}
header img {
  max-width: 480px;
  min-width: 126px;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
header li div {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: auto;
}
header li div svg {
  height: 32px;
  margin: auto;
}

.iconUser {
  background-color: #EBE7FA;
}
.iconUser svg {
  fill: #AA7EEC;
}

.iconProgramming {
  background-color: #DAF4EF;
}
.iconProgramming svg {
  fill: #17CA93;
}

.iconSettings {
  background-color: #F8E5EA;
}
.iconSettings svg {
  fill: #FF546E;
}

.iconChat {
  background-color: #F8F1DE;
}
.iconChat svg {
  fill: #FFB30F;
}

.iconRocket {
  background-color: #E1F2FA;
}
.iconRocket svg {
  fill: #4FB9E8;
}

.firstSection {
  max-width: 1200px;
  margin: auto;
}
.firstSection article {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.firstSection article div {
  max-width: 75ch;
}
.firstSection article img {
  max-width: 360px;
}

html {
  padding: 0;
  margin: 0;
  background-color: #F7FAFD;
}

body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bttnPrimary {
  margin: 8px;
  height: 32px;
  background-color: #FF556E;
  padding: 0 32px;
  border: 0px;
  border-radius: 48px;
  color: white;
}

.bttnPrimary:hover {
  margin: 8px;
  height: 32px;
  border: 0px;
  background-color: transparent;
  padding: 0 32px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #FF556E;
  box-shadow: inset 0px 0px 0px 2px #FF556E;
  border-radius: 48px;
  color: #FF556E;
}

.bttnSecondary {
  margin: 8px;
  height: 32px;
  border: 0px;
  background-color: transparent;
  padding: 0 32px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #FF556E;
  box-shadow: inset 0px 0px 0px 2px #FF556E;
  border-radius: 48px;
  color: #FF556E;
}

.bttnSecondary:hover {
  margin: 8px;
  height: 32px;
  background-color: #FF556E;
  padding: 0 32px;
  border: 0px;
  border-radius: 48px;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
