@use 'navBar';
@use 'header';
@use 'section';
@import 'variables';


html {
    padding: 0;
    margin: 0;
    background-color: $bgColor;
}

body {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background: #bbbbbb;
border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
background: #555;
}

// ----------- BUTTONS ----------

.bttnPrimary {
    @include bttnCta();
}

.bttnPrimary:hover {
    @include bttnSecondary();
}

.bttnSecondary {
    @include bttnSecondary();
} 

.bttnSecondary:hover {
    @include bttnCta();
}

// ----------- ICONS ----------

.iconUser {
    background-color: #EBE7FA;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    @include flexbox (column, center, center, 0px);
    margin: auto;
    svg {
        fill: #AA7EEC;
        height: 32px;
        margin: auto;
    }
}

.icons {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    @include flexbox (column, center, center, 0px);
    margin: auto;

    svg {
        height: 32px;
        margin: auto;
    }
}

.iconProgramming {
    background-color: #DAF4EF;

    svg {
        fill: #17CA93;
    }
}

.iconSettings {
    background-color: #F8E5EA;

    svg {
        fill: #FF546E;

    }
}

.iconChat {
    background-color: #F8F1DE;

    svg {
        fill: #FFB30F;

    }
}

.iconRocket {
    background-color: #E1F2FA;

    svg {
        fill: #4FB9E8;

    }
}