nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  height: 64px;
  max-width: 1200px;
  margin: auto;
}
nav img {
  max-height: 36px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  list-style: none;
}
nav ul li {
  height: 48px;
  padding: 0 24px;
  display: flex;
  align-items: center;
}
nav ul li:hover {
  color: #FF556E;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
}
header div p {
  max-width: 75ch;
  min-width: 45ch;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.firstSection {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.firstSection .firstArticle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.firstSection .firstArticle div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  max-width: 75ch;
  text-align: left;
}
.firstSection .firstArticle div ul {
  padding: 16px;
}
.firstSection .firstArticle div button {
  margin-left: -2px;
}
.firstSection .firstArticle img {
  max-width: 360px;
}
.firstSection .secondArticle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.firstSection .secondArticle div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  max-width: 75ch;
  text-align: left;
}
.firstSection .secondArticle div ul {
  padding: 16px;
}
.firstSection .secondArticle div div {
  margin-left: -8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
.firstSection .secondArticle img {
  max-width: 360px;
  order: 1;
}

.secondSection {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.secondSection ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.secondSection .stars {
  height: 16px;
  width: 90px;
  background-image: url(./../icons/star-solid.svg);
  background-repeat: repeat-x;
  filter: invert(75%) sepia(64%) saturate(1775%) hue-rotate(347deg) brightness(100%) contrast(104%);
  -webkit-filter: invert(75%) sepia(64%) saturate(1775%) hue-rotate(347deg) brightness(100%) contrast(104%);
}
.secondSection .testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  max-width: 75ch;
  min-width: 45ch;
  text-align: center;
}
.secondSection .testimonial hr {
  border: solid 1px silver;
  width: 24px;
}
.secondSection article:last-child p {
  max-width: 75ch;
  min-width: 45ch;
  margin: auto;
}

footer {
  border-top: solid 1px silver;
}
footer .infoContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  margin: auto;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer p {
  text-align: center;
}

html {
  padding: 0;
  margin: 0;
  background-color: #F7FAFD;
}

body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blueBg {
  padding: 64px 0;
  background-color: #E8EFF6;
}

.whiteBg {
  background-color: white;
  padding: 48px 0;
}

.bttnPrimary {
  margin: 8px;
  height: 32px;
  background-color: #FF556E;
  padding: 0 32px;
  border: 0px;
  border-radius: 48px;
  color: white;
}

.bttnPrimary:hover {
  margin: 8px;
  height: 32px;
  border: 0px;
  background-color: transparent;
  padding: 0 32px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #FF556E;
  box-shadow: inset 0px 0px 0px 2px #FF556E;
  border-radius: 48px;
  color: #FF556E;
}

.bttnSecondary {
  margin: 8px;
  height: 32px;
  border: 0px;
  background-color: transparent;
  padding: 0 32px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #FF556E;
  box-shadow: inset 0px 0px 0px 2px #FF556E;
  border-radius: 48px;
  color: #FF556E;
}

.bttnSecondary:hover {
  margin: 8px;
  height: 32px;
  background-color: #FF556E;
  padding: 0 32px;
  border: 0px;
  border-radius: 48px;
  color: white;
}

.centerImg {
  max-width: 480px;
  min-width: 126px;
}

.iconUser {
  background-color: #EBE7FA;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: auto;
}
.iconUser svg {
  fill: #AA7EEC;
  height: 32px;
  margin: auto;
}

.icons {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: auto;
}
.icons svg {
  height: 32px;
  margin: auto;
}

.iconProgramming {
  background-color: #DAF4EF;
}
.iconProgramming svg {
  fill: #17CA93;
}

.iconSettings {
  background-color: #F8E5EA;
}
.iconSettings svg {
  fill: #FF546E;
}

.iconChat {
  background-color: #F8F1DE;
}
.iconChat svg {
  fill: #FFB30F;
}

.iconRocket {
  background-color: #E1F2FA;
}
.iconRocket svg {
  fill: #4FB9E8;
}

.iconsTransparent {
  background-color: transparent;
}

/*# sourceMappingURL=styles.css.map */
