nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-wrap: wrap;
  height: 64px;
  max-width: 1200px;
  margin: auto;
}
nav img {
  max-height: 36px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  height: 48px;
  padding: 0 24px;
  display: flex;
  align-items: center;
}
nav ul li:hover {
  color: #FF556E;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: center;
  margin-top: 80px;
}
header div p {
  max-width: 75ch;
  margin: auto;
  margin-bottom: 16px;
}
header div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.firstSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.firstSection .firstArticle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
}
.firstSection .firstArticle div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  max-width: 50ch;
  text-align: left;
  align-self: flex-start;
}
.firstSection .firstArticle div p {
  margin: 0;
}
.firstSection .firstArticle div ul {
  padding: 16px;
  margin: 0;
}
.firstSection .firstArticle div button {
  margin-left: -2px;
}
.firstSection .firstArticle img {
  max-width: 520px;
  width: 100%;
}
.firstSection .secondArticle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
}
.firstSection .secondArticle > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  max-width: 50ch;
  text-align: left;
  align-self: flex-start;
}
.firstSection .secondArticle > div .screensContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-wrap: wrap;
}
.firstSection .secondArticle > div ul {
  padding: 16px;
}
.firstSection .secondArticle > div > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}
.firstSection .secondArticle img {
  max-width: 520px;
  width: 100%;
  order: 1;
}

.secondSection {
  margin-top: 80px;
  text-align: center;
}
.secondSection ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.secondSection .stars {
  height: 16px;
  width: 90px;
  background-image: url(./../icons/star-solid.svg);
  background-repeat: repeat-x;
  filter: invert(75%) sepia(64%) saturate(1775%) hue-rotate(347deg) brightness(100%) contrast(104%);
  -webkit-filter: invert(75%) sepia(64%) saturate(1775%) hue-rotate(347deg) brightness(100%) contrast(104%);
}
.secondSection .testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  max-width: 75ch;
  text-align: center;
}
.secondSection .testimonial hr {
  border: solid 1px silver;
  width: 24px;
}
.secondSection article:last-child p {
  max-width: 75ch;
  margin: auto;
  margin-bottom: 24px;
}
.secondSection article:last-child div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-wrap: wrap;
}

footer {
  border-top: solid 1px silver;
}
footer .infoContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  margin: auto;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer .socialIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: flex-start;
  opacity: 0.5;
}
footer .socialIconsContainer li svg {
  height: 24px;
  width: 24px;
}
footer p {
  text-align: center;
}

* {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 2;
}

a {
  text-decoration: none;
  color: black;
}

html {
  padding: 0;
  margin: 0;
  background-color: #F7FAFD;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

main {
  margin: 80px 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  font-size: 3.75em;
  margin-bottom: 8px;
}

h2 {
  font-size: 2.25em;
  line-height: 1.5;
  margin-top: 8px;
}

.smallBold {
  font-size: 0.75em;
  font-weight: 700;
}

.smallThin {
  font-size: 0.75em;
  font-weight: 200;
}

.numbersBold {
  font-size: 4em;
  font-weight: 900;
  margin: -32px 0;
}

.blueBg {
  padding: 84px 0;
  background-color: #E8EFF6;
}

.whiteBg {
  background-color: white;
  padding: 48px 0;
  max-width: 1200px;
  margin: auto;
}

.bttnPrimary {
  margin: 8px;
  height: 32px;
  background-color: #FF556E;
  padding: 0 32px;
  border: 0px;
  border-radius: 48px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bttnPrimary:hover {
  margin: 8px;
  height: 32px;
  border: 0px;
  background-color: transparent;
  padding: 0 32px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #FF556E;
  box-shadow: inset 0px 0px 0px 2px #FF556E;
  border-radius: 48px;
  color: #FF556E;
  cursor: pointer;
}

.bttnPrimary:hover .appleIcon {
  filter: invert(57%) sepia(57%) saturate(5254%) hue-rotate(321deg) brightness(104%) contrast(101%);
  -webkit-filter: invert(57%) sepia(57%) saturate(5254%) hue-rotate(321deg) brightness(104%) contrast(101%);
}

.bttnPrimary:hover .playIcon {
  filter: invert(57%) sepia(57%) saturate(5254%) hue-rotate(321deg) brightness(104%) contrast(101%);
  -webkit-filter: invert(57%) sepia(57%) saturate(5254%) hue-rotate(321deg) brightness(104%) contrast(101%);
}

.bttnSecondary {
  margin: 8px;
  height: 32px;
  border: 0px;
  background-color: transparent;
  padding: 0 32px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #FF556E;
  box-shadow: inset 0px 0px 0px 2px #FF556E;
  border-radius: 48px;
  color: #FF556E;
}

.bttnSecondary:hover {
  margin: 8px;
  height: 32px;
  background-color: #FF556E;
  padding: 0 32px;
  border: 0px;
  border-radius: 48px;
  color: white;
  cursor: pointer;
}

.appleIcon {
  background-image: url(./../icons/apple.svg);
  background-size: cover;
  height: 16px;
  width: 16px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(104%);
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(104%);
}

.playIcon {
  background-image: url(./../icons/triangle-fill.svg);
  background-size: cover;
  height: 16px;
  width: 16px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(104%);
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(104%);
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.purpleBttn {
  height: 36px;
  padding: 0 24px;
  margin: 4px;
  color: white;
  background-color: #AA7EEC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.watchIcon {
  background-image: url(./../icons/stopwatch.svg);
  background-size: cover;
  height: 16px;
  width: 16px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(104%);
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(104%);
}

.whiteBttn {
  height: 36px;
  padding: 0 24px;
  margin: 4px;
  color: #c0c0c0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.listIcon {
  background-image: url(./../icons/list-ul.svg);
  background-size: cover;
  height: 16px;
  width: 16px;
  filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(78%) contrast(97%);
  -webkit-filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(78%) contrast(97%);
}

.calendarIcon {
  background-image: url(./../icons/calendar3.svg);
  background-size: cover;
  height: 16px;
  width: 16px;
  filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(78%) contrast(97%);
  -webkit-filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(198deg) brightness(78%) contrast(97%);
}

.centerImg {
  max-width: 648px;
  width: 100%;
  margin: 48px 0 24px 0;
}

.iconUser {
  background-color: #EBE7FA;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: auto;
}
.iconUser svg {
  fill: #AA7EEC;
  height: 32px;
  margin: auto;
}

.icons {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: auto;
}
.icons svg {
  height: 32px;
  margin: auto;
}

.iconProgramming {
  background-color: #DAF4EF;
}
.iconProgramming svg {
  fill: #17CA93;
}

.iconSettings {
  background-color: #F8E5EA;
}
.iconSettings svg {
  fill: #FF546E;
}

.iconChat {
  background-color: #F8F1DE;
}
.iconChat svg {
  fill: #FFB30F;
}

.iconRocket {
  background-color: #E1F2FA;
}
.iconRocket svg {
  fill: #4FB9E8;
}

.iconsTransparent {
  background-color: transparent;
}

/*# sourceMappingURL=styles.css.map */
